<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Email</title>
  <link rel="stylesheet" href="./email.css">
</head>
<body class="">
<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">

        <span class="preheader"><%- preheader %></span>
        <table class="main">

          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p><%- title %></p>
                    <p><%- intro %></p>
                    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                      <tbody>
                      <tr>
                        <td align="left">
                          <table border="0" cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                              <td> 
                                <p>
                                <%- msg %>
                                </p>
                                <% if(action_link) { %>
                                <a href='<%- action_link %>' target='_blank'><%- action_text %></a>
                                <% } %>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>

        </table>

        <div class="footer">
          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td class="content-block">
                <span class="apple-link"><%- footer_content %></span>
              </td>
            </tr>
            <% if (link_footer) { %>
            <tr>
              <td class="content-block powered-by">
                <a href="<%- link_footer %>"><%- link_footer_name %></a>.
              </td>
            </tr>
            <% } %>
          </table>
        </div>
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
